html, body {
	padding : 0;
	margin : 0;
	height : 100%;
	color: white;
	overflox: hidden ;
}
body{
	background-image: url("../img/Background/bg.jpg");
	background-size: cover;
}
header{
	background-color: rgb(68,68,68);
	padding-bottom: 20px;
	margin-bottom: 0px;
}
#navbar{
	color: white;
	background-color: rgb(25,25,25);
	width: 100%;
	text-align: right;
	font-size: 28px;
}
#Logo{
	display: flex;
	justify-content: center;
	font-size: 48px;
}
#Logo a:link{
	text-decoration: none;
}
#Contenue{
	display: flex;
	justify-content: space-around;
	margin-top: 25px;
}
#Sidebar {
	margin-top: 0px;
	height: 100%;
	width: 350px;
	font-size: 38px;
	background-color: rgb(68, 68, 68);
	min-width: 250px;
	border-bottom: solid black 2px;
	border-radius: 25px 25px 25px 25px;
}
#Sidebar h1{
	margin-top: 0px;
	font-size: 45px ;
	text-align: center;
}
#Sidebar form{
	margin-left: 50px;
}
#Sidebar label{
	display: block;
}
#List{
	width: 80%;
	min-width:600px;
}
#List header{
	display: flex;
	justify-content: space-around;
	background-color: rgb(68, 68, 68);
	border: solid 1px black;
	border-radius : 25px 25px 0px 0px;
	font-size: 25px;
}
#List header p {
	width: 150px;
	margin:5px;
}
#List #card{
	display: flex;
	justify-content: space-around;
}
#List #card p{
	margin: 15px;
	width : 150px;
}
#List #cardList{
	background-color: rgb(68, 68, 68);
	border: solid black 1px;
	border-radius : 0px 0px 25px 25px;
}

.wrap{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: rgb(68, 68, 68);
	border: solid black 1px;
	width : 250px;
	border-radius: 25px 25px 25px 25px;
	padding: 25px;
}
.wrap,.infoBox,.cardEdit h1{
	text-align: center;
}
.wrap,.wrapaside,.cardEdit label{
	display: block;
	margin-top: 25px;
	font-size: 28px;
}
.wrap,.wrapaside,.cardEdit,.info input{
	margin-top: 25px;
	display: block;
}
.wrapaside{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: rgb(68, 68, 68);
	border: solid black 1px;
	width : 250px;
	border-radius: 25px 25px 25px 25px;
	padding: 25px;
	width: 700px;
}

.wrapaside section{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.infoBox{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: rgb(68, 68, 68);
	border: solid black 1px;
	width : 600px;
	border-radius: 25px 25px 25px 25px;
	padding: 25px;
}
.info{
	border: solid white 1px;
	display: flex;
	justify-content: space-around;
}

.info p{
	width:250px;
}

.Effet{
	border: solid white 1px;
	padding-left: 25px;
	padding-right: 25px;
}

#commentaires{
	border: solid white 1px;
}
#commentaires div{
	display: flex;
	justify-content: space-around;
}
#commentaires p{
	margin: 5px;
	width: 250px;
}
.longtext{
	width: 550px;
	height: 100px;
	overflow: scroll;
}
.sameLine{
	display: flex;
	justify-content: flex-start;
}

.commentEdit\/Add input{
	margin-left: 25px;
	margin-top: 5px;
}

.commentEdit\/Add h1{
	margin-left: 50px;
}

#align{
	height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.cardEdit{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgb(68, 68, 68);
	border: solid black 1px;
	width : 600px;
	border-radius: 25px 25px 25px 25px;
	padding: 25px;
}
.cardEdit form,h1{
	margin: 0px;
}
